.col {
  float: left;
  box-sizing: border-box;
}

.col-1 {
  width: 20%,
}

.col-2 {
  width: 40%;
}

.col-3 {
  width: 40%;
}

.col-3-1, .col-3-2 {
  width: 50%;
}

.col-3-2 {
  padding-left: 10px;
}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

@media all and (max-width: 1000px) {
  [class*='col-'] {
    width: 100%;
  }

  // .col {
  //   // display: flex;
  //   // flex-direction: column;
  //   // min-width: 550px;
  //   width: 100%;
  // }
}
