<body>
<div class="body-div">
    <section class="col-1">
        <nav>
            <header class="col-1-title"> 
                <h1 class="header"> Launching the New React/Redux Curriculum </h1>
                <h2> By APP ACADEMY INSTRUCTIONAL TEAM </h2>
            </header>

        <ul>
            <li class="col-1-ele">
                It helps you write applications that behave consistently, run in different environments 
                (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such 
                as live code editing combined with a time traveling debugger.
                
            </li>
        
            <li class="col-1-ele">
                The whole state of your app is stored in an object tree inside a single store.
                The only way to change the state tree is to emit an action, an object describing what happened. 
                To specify how the actions transform the state tree, you write pure reducers.
                
            </li>
        </ul>
        </nav>

        <footer class="comments">
            1738 Comments
        </footer>
    </section>

    <section class="col-2">
        <header>
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
           <h1 class="warning"> Warning: This video will make you want to change your career </h1>
            <div></div>
            <span class="header"> Where Are They Now?</span>
                <a class="h2-sub-title">By APP ACADEMY ALUMNI</a>
                <a class="h2-footer">First hand stories from App Academy graduates about 
                transitioning to engineering positions at top tech companies in San Francisco.</a>
            <div></div>
            <span class="header"> Cat Academy</span>
                <a class="h2-sub-title"> By APP ACADEMY DIRECTOR OF PRODUCTS </a>
                <a class="h2-footer"> App Academy's latest product targets those interested 
                in owning the popular feline companion by providing a curated cat care curriculum.</a>
        </header>
    </section>

    <section class="col-3">
        <header> The Opinion Pages </header>

        <div class="opinion-pages">
        <section class="subcolumn-1">
           <h1 class="op-headers"> Op-Ed Contributor </h1>
            <a class="op-titles"> Will Javascript ever be as easy as Ruby? </a>
            <a class="col-3-h1-footer"> Javscript continues to advance with the newly released 
            EcmaScript7 but it still doesn't quite read like Ruby.</a>
        
            <ul class="op-ed-list">
                <li class="op-eds"> Torvalds: When I Was Almost Wrong </li>
                <li class="op-eds"> Knuth: Art of Programming </li>
                <li class="op-eds"> Lovelace: The First Algorithm </li>
                <li class="op-eds"> Hopper: The First Bug </li>
                <li class="op-eds"> Thompson: Go C Unix </li>
                <li class="op-eds"> Carmack: My Virtual Reality </li>
                <li class="op-eds"> Stallman: Free Speech Not Free Coffee </li>
            </ul>
        </section>

        <section class="subcolumn-2">
            <h2 class="op-headers"> Operations </h2>
                <a class="op-titles"> App Academy New York Has A Brand New Office </a>
                <a class="op-author"> By NY OPERATIONS </a>
                <a class="img-comment">The new space features hardwood floors and brick walls 
                for a modern technology space with an aura for learning.</a>
                <div class="img-box"><img src="assets/new_office.jpg" class="thumbnail"></div>
                <a class="opinion-header"> Opinion Today, in your Inbox </a>
                <a class="col-3-footer">Each weekday, get though-provoking commentary from 
                our columnists and contributors.</a>
        </section>
        </div>

        <section class="section-footer">

            <div class="sign-up-bar">

                <div class="footer-text">
                    <a class="left-side"> Get the Opinion newsletter by email </a>
                </div>

            
                <input class="right-side" type="button" value="Sign Up">
            
            </div>

            <a class="footer-footer"> We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe. </a>
        </section>
    </section>
<div>
</body>