<header class='masthead'>
    <nav class="languages">
        <span class="lang">CSS</span>
        <span class="lang">HTML</span>
        <span class="lang">JAVASCRIPT</span>
        <span class="lang">RUBY</span>
    </nav>
    <div class="header-div"></div>
        <img src="assets/AA_Times_Logo.png" class="logo" alt="AppAcademy">
        <nav class='middle nav'>
            <ul id='info-midbar-btn'>
                <i class='mid-attributes'></i>
                <span>Tuesday, October 18, 2016</span>
                <a href="" class="paper-vid">
                    <i class="fas fa-newspaper">
                    </i>Today's Paper</a>
                <a href="" class="paper-vid">
                    <i class="fas fa-video">
                    </i>Video</a>
                <span class="temp">77 F</span>
                <button class="stock">AAO
                    <span>+100%</span>
                </button>
            </ul>
        </nav>
    
</header>
