<section class="section-nav">
    <nav class="sections-links">
        <a href="" class="snlinks">World</a>
        <a href="" class="snlinks">San Fransisco</a>
        <a href="" class="snlinks">New York</a>
        <a href="" class="snlinks">Bootcamp Prep</a>
        <a href="" class="snlinks">Jumpstart</a>
        <a href="" class="snlinks">Online</a>
        <a href="" class="snlinks">Marketing</a>
        <a href="" class="snlinks">Sales</a>
        <a href="" class="snlinks">TalentMatch</a>
        <a href="" class="snlinks">Alumni</a>
        <a href="" class="snlink-all">ALL</a>
    </nav>
</section>